.container {
    margin: 100px;
}

.widget {    
    min-width: 320px;
    max-width: 500px;
    border: 1px solid #000;
    border-radius: 5px;
}

.widget-header {
    background-color: #9f9f9f;
    height: 30px;
}

.widget-title-control {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-add {
    font-size: 2rem;
}

.product-add:hover {
    cursor: pointer;
}